//Colors
$color-primary-light-pale: #fa8e96;
$color-primary-light: #e85e68;
$color-primary: #ce3843;
$color-primary-dark: #89050f;

$color-secondary-light-orange: #e9ab00;
$color-secondary-dark-orange: #b65622;

$color-secondary-light-purple: #2998ff;
$color-secondary-dark-purple: #402edd;

$color-grey-dark: #555;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #e6e6e6;
$color-white: white;
$color-black: #000;

//Font
$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem; 