
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //1rem = 10px
  font-size: 62.5%;

  @include respond(tab-landscape) {
    font-size: 56.25%;
  }

  @include respond(tab-portrait) {
      font-size: 50%;
    }

  @include respond(phone) {
    font-size: 45%;
  }
  

  @include respond(big-desktop) {
    font-size: 75%;
  }
  
}

body {  
  box-sizing: border-box;
  padding: 3rem;  

  @include respond(tab-portrait) {
    padding: 0;
    }  
  }



