.u-center-text {text-align: center;}
.u-justify-text {text-align: justify;}

.u-margin-bottom-small {margin-bottom: 1.5rem;}
.u-margin-bottom-medium { margin-bottom: 4rem;}
.u-margin-bottom-big { margin-bottom: 8rem;}

.u-padding-right-small {padding-right: 1.5rem}
.u-padding-right-medium {padding-right: 4rem}